 body{
     background: url("bg.jpg");
     background-size: cover;
   background-repeat: repeat-y;
 }

 input {
    appearance: square-button;
    width: 70px;
    height: 30px;
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
    cursor: pointer;
    display: flex;
     align-items: center;
     justify-content: flex-end;
    color: -internal-light-dark(black, white);
    border-width: 5px;
    border-style: solid;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    padding: 1px 2px;
}

canvas {
     padding: 0;
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
 }



 @media screen and (max-width: 700px) {
    body{
     background: url("bg.jpg");
     background-size: cover;
     background-repeat: repeat-y;
 }

 input {
     appearance: square-button;
    width: 40px;
    height: 30px;
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
    cursor: pointer;
    color: -internal-light-dark(black, white);
    border-width: 1px;
    border-style: solid;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    padding: 1px 2px;
 }

canvas {
    padding: 0;
    margin: auto;
    display: block;
    width: 300px;
    height: 400px;
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
 }
 }